<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta charset="UTF-8">
	<title>SAPUI5 Walkthrough</title>

    <link rel="stylesheet" type="text/css" href="static/imageselect/css/imgareaselect-default.css" />

   <script id="sap-ui-bootstrap"
    type="text/javascript"
    src="https://openui5.hana.ondemand.com/1.42.6/resources/sap-ui-core.js"
    data-sap-ui-theme="sap_belize"
    data-sap-ui-libs="sap.m"></script>

    <script type="text/javascript" src="static/imageselect/scripts/jquery.imgareaselect.pack.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>



    <script type="text/javascript">
function preview(img, selection) {
    if (!selection.width || !selection.height)
        return;

    var scaleX = 100 / selection.width;
    var scaleY = 100 / selection.height;

    $('#x1').val(selection.x1);
    $('#y1').val(selection.y1);
    $('#x2').val(selection.x2);
    $('#y2').val(selection.y2);
    $('#w').val(selection.width);
    $('#h').val(selection.height);
}

</script>

    <script>
    $(document).ready(function() {

            jQuery.sap.require("sap.ui.model.json.JSONModel");
            var oModelGleisplan = new sap.ui.model.json.JSONModel();

            $('img#gleisplan').imgAreaSelect({
                handles: true,
                maxWidth: 120,
                maxHeight: 120,
                onSelectChange: preview,
                onSelectEnd: function (img, selection) {
                            }
            });

            namespace = '';
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

            socket.on('connect', function() {
            });

            socket.on('config_data', function(msg) {
                gleisplan_model = jQuery.parseJSON(msg.Gleisplan)
                oModelGleisplan.setData(gleisplan_model);
            });

            socket.on('gleisplan_data', function(msg) {
                gleisplan_model = jQuery.parseJSON(msg.Gleisplan)
                oModelGleisplan.setData(gleisplan_model);
            });



            /*
            var aData = [
					{id: "1",  x1: 50, y1: 50, x2: 150, y2: 150, addr: 5 },
					{id: "2",  x1: 300, y1: 100, x2: 350, y2: 150, addr: 2 },
					];


		    oModelGleisplan.setData(aData);
		    */

            var oTable = new sap.m.Table({
    		columns: [
    			new sap.m.Column({ header: new sap.m.Label({text: "Weiche"})}),
    			new sap.m.Column({ header: new sap.m.Label({text: "X1"})}),
    			new sap.m.Column({ header: new sap.m.Label({text: "Y1"})}),
    			new sap.m.Column({ header: new sap.m.Label({text: "X2"})}),
    			new sap.m.Column({ header: new sap.m.Label({text: "Y2"})}),
    			new sap.m.Column({ header: new sap.m.Label({text: "Addr"})}),
    			new sap.m.Column({ header: new sap.m.Label({text: "Show"})}),
    				],
			 items: {
    			path: "/",
    				template: new sap.m.ColumnListItem({
        				cells: [
        					new sap.m.Text({ text: "{id}" }),
        					new sap.m.Text({ text: "{x1}" }),
        					new sap.m.Text({ text: "{y1}" }),
        					new sap.m.Text({ text: "{x2}" }),
        					new sap.m.Text({ text: "{y2}" }),
        					new sap.m.Input({ value: "{addr}" }),
        				    new sap.m.Button({ text: "Show",
        				                       enabled: true,
        				                       press: function( oEvent ) {
        				                                            var model = this.getModel();
                                                                    var path = oEvent.getSource().getBindingContext().getPath();
                                                                    var obj = model.getProperty(path);
        				                                            $('#gleisplan').imgAreaSelect({ x1: obj.x1, y1: obj.y1, x2: obj.x2, y2: obj.y2 });
        				                                         }

        				                       }),
                                ]})
                    }
                });

                oTable.setModel(oModelGleisplan);

            var oApp = new sap.m.App("myApp", {
                         initialPage: "page"
                        });


        var oPage = new sap.m.Page("page", {
            landmarkInfo: new sap.m.PageAccessibleLandmarkInfo(),
            title: "Page Control",
            showNavButton: true,
            contentOnlyBusy: true,
            content: [
                new sap.m.Button('hide-show-header', {
                     text: "Hide/show header",
                     press: function () {
                         oPage.setShowHeader(!oPage.getShowHeader());

                     }
                }),
                new sap.m.Button('hide-show-footer', {
                     text: "Add turnout",
                     press: function () {
                          var x1 = $('#x1').val();
                          var y1 = $('#y1').val();
                          var x2 = $('#x2').val();
                          var y2 = $('#y2').val();

                          var Weiche = oModelGleisplan.getProperty("/");
                          var neueWeiche = {
                                            x1: x1,
                                            y1: y1,
                                            x2: x2,
                                            y2: y2,
                                           };

                           socket.emit('Weiche_neu', neueWeiche);     /* Neuen Eintrag übers API aufnehmen

                          /* Neuen Eintrag direkt ins Modell schreiben
                          Weiche.push(neueWeiche);
                          oModelGleisplan.setProperty("/", Weiche);
                          */

                     }
                }),
                new sap.m.Button('Save', {
                    text: "Save",
                    press: function () {
                                         socket.emit('gleisplan_save', oModelGleisplan.getData());
                                       }
                }),
                oTable
                ],
            footer: new sap.m.Bar({
            })
        });
        oApp.addPage(oPage).placeAt("content");
          });
    </script>
</head>

<body class="sapUiBody" role="application">
    <p style="text-align: center;">
        <img id="gleisplan" src="static/gleisplan.png" alt="Why did the duck cross the road?"
                title="Why did the duck cross the road?" />
    </p>

    <table style="margin-top: 1em;">
      <thead>
        <tr>
          <th colspan="2" style="font-size: 110%; font-weight: bold; text-align: left; padding-left: 0.1em;">
            Coordinates
          </th>
          <th colspan="2" style="font-size: 110%; font-weight: bold; text-align: left; padding-left: 0.1em;">
            Dimensions
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="width: 10%;"><b>X<sub>1</sub>:</b></td>
 		      <td style="width: 30%;"><input type="text" id="x1" value="-" /></td>
 		      <td style="width: 20%;"><b>Width:</b></td>
   		    <td><input type="text" value="-" id="w" /></td>
        </tr>
        <tr>
          <td><b>Y<sub>1</sub>:</b></td>
          <td><input type="text" id="y1" value="-" /></td>
          <td><b>Height:</b></td>
          <td><input type="text" id="h" value="-" /></td>
        </tr>
        <tr>
          <td><b>X<sub>2</sub>:</b></td>
          <td><input type="text" id="x2" value="-" /></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Y<sub>2</sub>:</b></td>
          <td><input type="text" id="y2" value="-" /></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>


    <div id="content"></div>

</body>

</html>