<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta charset="UTF-8">
	<title>SAPUI5 Walkthrough</title>


   <script id="sap-ui-bootstrap"
    type="text/javascript"
    src="https://openui5.hana.ondemand.com/1.42.6/resources/sap-ui-core.js"
    data-sap-ui-theme="sap_belize"
    data-sap-ui-libs="sap.m,sap.ui.commons"></script>
    <link rel="stylesheet" type="text/css" href="static/imageselect/css/imgareaselect-default.css" />
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"  crossorigin="anonymous"></script>
    <script type="text/javascript">

</script>

    <script>
    $(document).ready(function() {

            jQuery.sap.require("sap.ui.model.json.JSONModel");
            var oModelGleisplan = new sap.ui.model.json.JSONModel();

            namespace = '';
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

            socket.on('connect', function() {
            });

            socket.on('initialisation', function(msg) {
                gleisplan_model = jQuery.parseJSON(msg.Track)
                oModelGleisplan.setData(gleisplan_model);
            });

            socket.on('gleisplan_data', function(msg) {
                gleisplan_model = jQuery.parseJSON(msg.Track)
                oModelGleisplan.setData(gleisplan_model);
            });


            var oImage = new sap.m.Image({
                            src : "static/Gleisplan.png",
                            useMap : "Map1" });


            var oMap2 = new sap.ui.commons.ImageMap( {
                                                     name: "Map1",
                                                     areas: [ new sap.ui.commons.Area ({ shape: "rect", alt: "Bee", href: "http://www.sap.com", coords: "40,20,100,80" })
                                                            ]
                                                     } );


            var oMap = new sap.ui.commons.ImageMap( {
                                                     name: "Map1",
                                                     areas: {
    			                                                id  : "{id}",
    			                                                path: "/",
    				                                            template: new sap.ui.commons.Area({
                                                                    shape: "rect",
                                                                    alt: "Bee",
                                                                    coords: {
                                                                            parts: [
                                                                                {path: "x1"},
                                                                                {path: "y1" },
                                                                                {path: "x2" },
                                                                                {path: "y2" }
                                                                                    ],
                                                                            formatter: function(x1,y1,x2,y2)
                                                                                        {
                                                                                            sc = x1+","+y1+","+x2+","+y2;
                                                                                            return sc
                                                                                        }
                                                                            }
                                                                    })
                                                             }
                                                     });

            oMap.attachPress( function( oEvent ) {
        				                           var model = this.getModel();
                                                   var source = oEvent.getSource();
                                                   var oPara = oEvent.getParameters();
                                                   var oCtx = source.getBindingContext();
                                                   var path = oCtxt.getPath();
                                                   var obj = model.getProperty(path);
        				                          });

            var oTable = new sap.m.Table({
    		columns: [
    			new sap.m.Column({ header: new sap.m.Label({text: "Weiche"})}),
    			new sap.m.Column({ header: new sap.m.Label({text: "X1"})}),
    			new sap.m.Column({ header: new sap.m.Label({text: "Y1"})}),
    			new sap.m.Column({ header: new sap.m.Label({text: "X2"})}),
    			new sap.m.Column({ header: new sap.m.Label({text: "Y2"})}),
    			new sap.m.Column({ header: new sap.m.Label({text: "Addr"})}),
    			new sap.m.Column({ header: new sap.m.Label({text: "Show"})}),
    				],
			 items: {
    			path: "/",
    				template: new sap.m.ColumnListItem({
        				cells: [
        					new sap.m.Text({ text: "{id}" }),
        					new sap.m.Text({ text: "{x1}" }),
        					new sap.m.Text({ text: "{y1}" }),
        					new sap.m.Text({ text: "{x2}" }),
        					new sap.m.Text({ text: "{y2}" }),
        					new sap.m.Input({ value: "{addr}" }),
        				    new sap.m.Button({ text: "Show",
        				                       enabled: true,
        				                       press: function( oEvent ) {
        				                                            var model = this.getModel();
                                                                    var path = oEvent.getSource().getBindingContext().getPath();
                                                                    var obj = model.getProperty(path);
        				                                            $('#gleisplan').imgAreaSelect({ x1: obj.x1, y1: obj.y1, x2: obj.x2, y2: obj.y2 });
        				                                         }

        				                       }),
                                ]})
                    }
                });

                oTable.setModel(oModelGleisplan);
                oMap.setModel(oModelGleisplan);

            var oApp = new sap.m.App("myApp", {
                         initialPage: "page"
                        });


        var oPage = new sap.m.Page("page", {
            landmarkInfo: new sap.m.PageAccessibleLandmarkInfo(),
            title: "Page Control",
            showNavButton: true,
            contentOnlyBusy: true,
            content: [
                new sap.m.Button('hide-show-header', {
                     text: "Hide/show header",
                     press: function () {
                         oPage.setShowHeader(!oPage.getShowHeader());

                     }
                }),
                new sap.m.Button('hide-show-footer', {
                     text: "Add turnout",
                     press: function () {

                     }
                }),
                new sap.m.Button('Save', {
                    text: "Save",
                    press: function () {
                                         socket.emit('gleisplan_save', oModelGleisplan.getData());
                                       }
                }),
                oImage, oMap, oTable,
                ],
            footer: new sap.m.Bar({
            })
        });
        oApp.addPage(oPage).placeAt("content");
          });
    </script>
</head>

<body class="sapUiBody" role="application">
    <div id="content"></div>
</body>

</html>