<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta charset="UTF-8">
	<title>Switch yard operations</title>

    <link rel="stylesheet" type="text/css" href="static/imageselect/css/imgareaselect-default.css" />

   <script id="sap-ui-bootstrap"
    type="text/javascript"
    src="https://openui5.hana.ondemand.com/1.42.6/resources/sap-ui-core.js"
    data-sap-ui-theme="sap_belize"
    data-sap-ui-libs="sap.m"></script>

    <script type="text/javascript" src="static/imageselect/scripts/jquery.imgareaselect.pack.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>


    <script>
    $(document).ready(function() {

            jQuery.sap.require("sap.ui.model.json.JSONModel");
            var oModelGleisplan = new sap.ui.model.json.JSONModel();



        // SOCKET IO
            namespace = '';
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

        // e.current_target.id
            function areaClicked(event) {

            socket.emit('toggle_turnout', event.currentTarget.id );     //Änderung via API aufnehmen und Weiche schalten
                                  }

            socket.on('connect', function() {
            });

            socket.on('config_data', function(msg) {

                gleisplan_model = jQuery.parseJSON(msg.Gleisplan)
                oModelGleisplan.setData(gleisplan_model);

                // Create a clickable map area for each tunout provided in the gleisplan
                 $.each(gleisplan_model, function(i, item) {

                   var x = document.createElement("AREA");
                   x.setAttribute("id", item.id);
                   x.setAttribute("href", "#");
                   x.setAttribute("shape", "rect");
                   x.addEventListener("click", areaClicked);
                   coords = item.x1 + "," + item.y1 + "," + item.x2 + "," + item.y2;
                   x.setAttribute("coords", coords);
                   document.getElementById("gleisplan_map").appendChild(x);
                });

            });

            socket.on('gleisplan_data', function(msg) {
                gleisplan_model = jQuery.parseJSON(msg.Gleisplan)
                oModelGleisplan.setData(gleisplan_model);
            });

            var oTable = new sap.m.Table({
    		columns: [
    			new sap.m.Column({ header: new sap.m.Label({text: "Weiche"})}),
    	    	new sap.m.Column({ header: new sap.m.Label({text: "Addr"})}),
    			new sap.m.Column({ header: new sap.m.Label({text: "Switch"})}),
    				],
			 items: {
    			path: "/",
    				template: new sap.m.ColumnListItem({
        				cells: [
        					new sap.m.Text({ text: "{id}" }),
        					new sap.m.Input({ value: "{addr}" }),
        				    new sap.m.Button({ text: "{dir}",
        				                       enabled: true,
        				                       press: function( oEvent ) {
        				                                            var model = this.getModel();
                                                                    var path = oEvent.getSource().getBindingContext().getPath();
                                                                    var obj = model.getProperty(path);
        				                                            $('#gleisplan').imgAreaSelect({ x1: obj.x1, y1: obj.y1, x2: obj.x2, y2: obj.y2 });
        				                                         }

        				                       }),
                                ]})
                    }
                });

                oTable.setModel(oModelGleisplan);

            var oApp = new sap.m.App("myApp", {
                         initialPage: "page"
                        });


        var oPage = new sap.m.Page("page", {
            landmarkInfo: new sap.m.PageAccessibleLandmarkInfo(),
            title: "Page Control",
            showNavButton: true,
            contentOnlyBusy: true,
            content: [
                new sap.m.Button('hide-show-header', {
                     text: "Hide/show header",
                     press: function () {
                         oPage.setShowHeader(!oPage.getShowHeader());

                     }
                }),
                oTable
                ],
            footer: new sap.m.Bar({
            })
        });
        oApp.addPage(oPage).placeAt("content");
          });
    </script>
</head>

<body class="sapUiBody" role="application">

    <img id="gleisplan" usemap="#primary" src="static/gleisplan.png" alt="Image not found">
    <map id="gleisplan_map" name="primary">
 
    </map>

    <div class='popup hidden'></div>


    <div id="content"></div>

</body>

</html>